HIDDEN_LAYER_NODES = 10
TRAIN_ITERATIONS = 100
DATA_PATH = ../data/semeion.data
TEST_PATH = ../data/test.data
NNET_PATH = ../data/nnet.tinn
DATA_LINES = 1513
TEST_LINES = 80
NUM_INPUTS = 256
NUM_OUTPUTS = 10
ANNEAL = 0.99
LEARNING_RATE = 1.0
LOAD_EXISTING = NO
TRAIN_EXISTING = YES
MANUAL_TESTING = YES
